<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ErrorLog" connectionString="Data Source=GARZA\GARZALOCAL;Initial Catalog=ErrorLog;Integrated Security=SSPI;MultipleActiveResultSets=True; Max Pool Size=100;Min Pool Size=15;Pooling=True;Application Name=ErrorLogger;"/>
  </connectionStrings>
  <appSettings>
    <add key="version" value="0.1"/>
  </appSettings>
</configuration>